.queen {
    -fx-alignment: center;
    -fx-fill-width: true;
    -fx-fill-height: true;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-image: url("images/queen.png");
}

.mainBoard {
    -fx-background-image: url("images/board.png");
}